@page
@model _20880012_DoAn_KTLT.Pages.NhapHang.MH_NhapModel
@using _20880012_DoAn_KTLT.Entities
@{
    Layout = "_LayoutNH";
}

<form method="POST">
    <label for="mahd">Nhập mã hóa đơn:</label><br />
    <input type="text" name="mahd" value="" required /><br />
    <label for="ngaynhap">Ngày nhập hàng:</label><br />
    <input type="date" name="ngaynhap" value="" required /><br />
    <button id="them" type="button">Them san pham</button>
    <p>Thong tin nhap hàng:</p>

    <div id="spnhap">
        @for (int i = 0; i < 5; i++)
        {
            var mamh = "mamh" + i;
            var gia = "gia" + i;
            var sl = "sl" + i;
            <select name="@mamh">
                <option value="">Chon mat hang</option>
                @foreach (Mathang m in Model.DSMH)
                {
                    <option value="@m.MaMatHang">@m.TenMatHang (@m.MaMatHang)</option>
                }
            </select>
            <label for=@gia>Gia:</label>
            <input type="number" name=@gia value=""/>
            <label for=@sl>Số lượng nhập:</label>
            <input type="number" name=@sl value=""/><br />
        }

    </div>
    <input type="submit" value="Nhập hàng" />
    <input type="reset" />
</form>

@Model.Ketqua