@page
@model _20880012_DoAn_KTLT.Pages.NhapHang.MH_SuaModel
@using _20880012_DoAn_KTLT.Entities
@{
    Layout = "_LayoutNH";
}

@if (Model.MaHD != null)
{
<form method="POST">
    <label for="mahd">Nhập mã hóa đơn:</label><br />
    <input type="text" name="mahd" value="@Model.MaHD" required /><br />
    <label for="ngaynhap">Ngày nhập hàng:</label><br />
    <input type="date" name="ngaynhap" value="@Model.NgayNhap" required /><br />
    <p>Thong tin nhap hàng:</p>
    <div id="spnhap">
        @for (int i = 0; i < 5; i++)
        {
            var mamh = "mamh" + i;
            var gia = "gia" + i;
            var sl = "sl" + i;
        <select name="@mamh">
            <option value="">Chon mat hang</option>
            @foreach (Mathang m in Model.DSMH)
            {
                if (m.MaMatHang == Model.DSHH[i].MaMH)
                {
                    <option value="@m.MaMatHang" selected>@m.TenMatHang (@m.MaMatHang)</option>
                }
                else
                {
                    <option value="@m.MaMatHang">@m.TenMatHang (@m.MaMatHang)</option>
                }
            }
        </select>
            <label for=@gia>Gia:</label>
            <input type="number" name=@gia value="@Model.DSHH[i].Gia" />
            <label for=@sl>Số lượng nhập:</label>
            <input type="number" name=@sl value="@Model.DSHH[i].SoLuong" /><br />
        }

    </div>
    <input type="submit" value="Sua Hoa Don" />
    <input type="reset" />
</form>
}

@Model.Ketqua