@page
@model _20880012_DoAn_KTLT.Pages.XuatHang.MH_SuaModel
@using _20880012_DoAn_KTLT.Entities
@{
    Layout = "_LayoutXH";
}

@if (Model.MaHD != null)
{
<form method="POST">
    <label for="mahd">Mã hóa đơn:</label><br />
    <input type="text" name="mahd" value="@Model.MaHD" required /><br />
    <label for="ngayxuat">Ngày bán hàng:</label><br />
    <input type="date" name="ngayxuat" value="@Model.NgayXuat" required /><br />
    <p>Thông tin bán hàng:</p>
    <div id="spban">
        @for (int i = 0; i < 5; i++)
        {
            var mamh = "mamh" + i;
            var gia = "gia" + i;
            var sl = "sl" + i;
        <select name="@mamh">
            <option value="">Chọn mặt hàng</option>
            @foreach (TonkhoMH t in Model.DSTKMH)
            {
                foreach (Mathang m in Model.DSMH)
                {
                    if (t.MaMH == m.MaMatHang)
                    {
                        if (Model.DSBH[i].MaMH == t.MaMH)
                        {
                            <option value="@m.MaMatHang" selected>@m.TenMatHang (@m.MaMatHang) - Tồn kho: @t.SL</option>
                        }
                        else
                        {
                            <option value="@m.MaMatHang">@m.TenMatHang (@m.MaMatHang) - Tồn kho: @t.SL</option>
                        }
                    }
                }

            }
        </select>
            <label for=@gia>Giá:</label>
            <input type="number" name=@gia value="@Model.DSBH[i].Gia" />
            <label for=@sl>Số lượng bán:</label>
            <input type="number" name=@sl value="@Model.DSBH[i].SoLuong" /><br />
        }

    </div>
    <input type="submit" value="Lưu chỉnh sửa" />
    <input type="reset" />
</form>
}

@Model.Ketqua