@page
@model _20880012_DoAn_KTLT.Pages.XuatHang.MH_XuatModel
@using _20880012_DoAn_KTLT.Entities
@{
    Layout = "_LayoutXH";
}

<form method="POST">
    <label for="mahd">Nhập mã hóa đơn:</label><br />
    <input type="text" name="mahd" value="" required /><br />
    <label for="ngayxuat">Ngày ban hàng:</label><br />
    <input type="date" name="ngayxuat" value="" required /><br />
    <p>Thong tin ban hàng:</p>
    <div id="spban">
        @for (int i = 0; i < 5; i++)
        {
            var mamh = "mamh" + i;
            var gia = "gia" + i;
            var sl = "sl" + i;
            <select name="@mamh">
                <option value="">Chon mat hang</option>
                @foreach (Mathang m in Model.DSMH)
                {
                    <option value="@m.MaMatHang">@m.TenMatHang (@m.MaMatHang)</option>
                }
            </select>
            <label for=@gia>Gia:</label>
            <input type="number" name=@gia value="" />
            <label for=@sl>Số lượng nhập:</label>
            <input type="number" name=@sl value="" /><br />
        }

    </div>
    <input type="submit" value="Ban hàng" />
    <input type="reset" />
</form>

@Model.Ketqua